<ul>
    {{#each users}}
        <li>
            <strong>Nombre:</strong> {{first_name}}
            <strong>Apellido:</strong> {{last_name}}
            {{#if email}}
                <br><strong>Email:</strong> {{email}}
            {{/if}}
            <br><strong>Rol:</strong> {{rol}}
            <br>
            <a href="#" class="delete-user" data-user-id="{{_id}}">Eliminar Usuario</a>
            
            <form class="update-role-form">
                <label for="newRole">Nuevo Rol:</label>
                <select name="newRole" id="newRole">
                    <option value="usuario">User</option>
                    <option value="userPremium">UserPremium</option>
                </select>
                <button class="update-role-btn" data-user-id="{{_id}}">Cambiar Rol</button>
            </form>
        </li>
        <br>
    {{/each}}
</ul>

<script src="/js/allUsers.js"></script>